*{
   
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* background-color: #353533;
    color: white; */
}
ul {
 
display: flex;
justify-content: center;
align-items: center;
}
ul li{
    list-style-type: none;
    padding: 3px;
    margin: 3px;
}
a{
    color: white;
    text-decoration: none;
}
header{
    
    background-color: black;
}
.image{  
    text-align: center;
}

img{
  
    width: 100%;
    height: 100vh;
    position: relative;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: cover;

}
.col{
  margin: 3px;
  width: 35%;
}
.card img{
width: 100%;
height: 300px;
}
.row{
    display: flex;
  
}
.heading{
 
    padding: 3px;
    background-color: black;
    color: white;
    width: 100%;
    height: 10vh;
}
